.buy-medicine-container {
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/back2.png") no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .medicine-details,
  .card-details {
    width: 800px; /* Adjusted to 100% width for smaller screens */
  }
}

.content-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 95%;
  flex-wrap: wrap;
  height: auto;
}

.medicine-details,
.card-details {
  width: 500px; /* Adjusted to 100% width for smaller screens */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input_text,
.input_number {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.input_text:disabled {
  background-color: #e9ecef;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

h2,
h3 {
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: center;
}

.card-image {
  display: block;
  max-width: 100%;
  margin: 0 auto 20px auto;
}

.medicine-list {
  list-style: none;
  padding: 0;
}

.medicine-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 4px;
}

.total-price {
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.pillsgrams {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
